initialize() {
        initializeTreeSeq();
	initializeMutationRate(mu*Q);
	initializeMutationType("m1", 0.5, "f", 0.0); // neutral mutation
	initializeMutationType("m2", h, "f", sweepS); // introduced mutation
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, asInteger(L)-1);
	initializeRecombinationRate(R*Q);
        //m2.convertToSubstitution = F; // keep full trajectory
}

1 early() {
	// print all parameters for this simulation
	catn(ID + ": "+ sim.cycle + " - SCALING FACTOR: " + Q);
	catn(ID + ": "+ sim.cycle + " - MUTATION RATE: " + mu + " SCALED: " + mu*Q);
	catn(ID + ": "+ sim.cycle + " - RECOMBINATION RATE: " + R + " SCALED: " + R*Q);
	catn(ID + ": "+ sim.cycle + " - SELECTION COEFFICIENT: " + sweepS + " SCALED: " + sweepS*Q);
	catn(ID + ": "+ sim.cycle + " - DOMINANCE COEFFICIENT: " + h);
	catn(ID + ": "+ sim.cycle + " - INITIAL POPULATION SIZE: " + N + " SCALED: " + asInteger(N/Q));
	catn(ID + ": "+ sim.cycle + " - SWEEP INTRODUCTION TIME: " + kappa + " SCALED:" + asInteger(kappa/Q));
	catn(ID + ": "+ sim.cycle + " - SWEEP AGE: " + tau + " SCALED: " + asInteger(tau/Q));
	catn(ID + ": "+ sim.cycle + " - LOGISTIC GROWTH RATE: " + r);
	catn(ID + ": "+ sim.cycle + " - LOGISTIC CARRYING CAPACITY: " + K);
        // create log file
        log = community.createLogFile("slim_results/" + ID + ".log", logInterval=1);
        log.addCycle();
        log.addCustomColumn("p", "muts = sim.mutationsOfType(m2); if (size(muts)==0) return 0.0; return mean(sim.mutationFrequencies(NULL, muts));");
        log.addCustomColumn("attempt", "return fails;");
	// create subpopulation
	catn(ID + ": "+ sim.cycle + " - CREATING POPULATION OF SIZE: " + asInteger(N/Q));
	sim.addSubpop("p1", asInteger(N/Q));
	// set variable to track when beneficial mutation first fixes
	// need defineGlobal to have variable be visible in other scopes
	defineGlobal("fixTracker", 0);
	// track number of simulation failures (i.e. lost sweep mutations) before success occurs (sweep fixes)
	defineGlobal("fails", 0);
        // reschedule sweep introduction
	community.rescheduleScriptBlock(s1, kappa, kappa);
	// reschedule checking of fixation until after beneficial mutation is introduced
	community.rescheduleScriptBlock(s4, start=kappa, end=kappa + 100000000);
	// choose whether to do a custom demography or a logistic map
	if(demog == 1){
		catn(ID + ": "+ sim.cycle + " - USING CUSTOM DEMOGRAPHY");
		lines = readFile("../config/demography.csv"); 
		lines = lines[substr(lines, 0, 1) != "//"]; 
		population_sizes = c();
		time_steps = c();
		for (line in lines) { 
			fields = strsplit(line, ","); 
			population_size = asInteger(asInteger(fields[0])/Q); 
			time_step = asInteger(asInteger(fields[1])/Q);
			community.registerEarlyEvent(NULL, s5.source, time_step + Y, time_step + Y);
			population_sizes = c(population_sizes, population_size);
			time_steps = c(time_steps, time_step);
		}
		catn(ID + ": "+ sim.cycle + " - GENERATIONS POST-BURN-IN TO CHANGE POPULATION SIZES: " + paste(time_steps));
		catn(ID + ": "+ sim.cycle + " - CORRESPONDING POPULATION SIZES: " + paste(population_sizes));
		defineGlobal("population_sizes", population_sizes);
		defineGlobal("time_steps", time_steps);
	} else {
		catn(ID + ": "+ sim.cycle + " - USING LOGISTIC MAP DEMOGRAPHY AT " + kappa);
		community.rescheduleScriptBlock(s6, start=kappa, end=kappa + 100000000);
	}
}

// Every 1000 generations, output the heterozygosity and number of mutations in the population
early() {
        if(sim.cycle % 100 == 0){
                numM1 = size(sim.mutationsOfType(m1));
                numM2 = size(sim.mutationsOfType(m2));
                catn(ID + ": " + sim.cycle + " - POPULATION SIZE: " + p1.individualCount +" NEUTRAL: " + numM1 + " SWEEP: " + numM2);
        }
}

// CUSTOM DEMOGRAPHY: change population size according to custom file
s5 100000000 early() {
	newSize = population_sizes[which(time_steps == sim.cycle)];
	p1.setSubpopulationSize(newSize);
        catn(ID + ": " + sim.cycle + " - POPULATION SIZE: " + newSize);
}

// LOGISTIC MAP DEMOGRAPHY: change population size
s6 1000000 early() {
	currentSize = p1.individualCount;
	newSize = asInteger(r*(1 - currentSize/K)*currentSize + currentSize); 
	p1.setSubpopulationSize(newSize);
        catn(ID + ": " + sim.cycle + " - POPULATION SIZE: " + newSize);
	if(newSize == currentSize){
		community.rescheduleScriptBlock(self, 1000000, 1000000);
	}
}

// introduce the sweep mutation in middle of simulated region
s1 100000000 late() {
        mid_site = asInteger(L/2);
	catn(ID + ": " + sim.cycle +  " - INTRODUCING BENEFICIAL MUTATION AT "  + mid_site);
	target = sample(p1.haplosomes, 1); 
	target.addNewDrawnMutation(m2, mid_site);
	defineConstant("PATH", tempdir() + "slim_" + ID + ".trees");
	sim.treeSeqOutput(PATH);
}

// check for fixation of beneficial mutation
s4 4000000 late() {
	if (sim.countOfMutationsOfType(m2) == 0){
		fixed = (sum(sim.substitutions.mutationType == m2) == 1);
		if (fixed){
			// first generation that mutation fixed
			if (fixTracker == 0){
				catn(ID + ": " + sim.cycle + " - FIXED");
				defineGlobal("fixTime", asInteger(sim.cycle) - asInteger(kappa));
                                defineGlobal("stopTime", fixTime + asInteger(tau/Q));
				catn(ID + ": " + sim.cycle + " - START: " + kappa + " END: " + sim.cycle + " FIXATION TIME: " + fixTime + " SCALED FIXATION TIME: " + fixTime*Q);
			}
			// stop simulation after fixation and simulation reached present day
			if (sim.cycle == stopTime){
				catn(ID + ": " + sim.cycle + " - STOPPED GENERATIONS POST-FIXATION: " + fixTracker + " SCALED:" + fixTracker*Q);
				catn(ID + ": " + sim.cycle + " - FAILURE COUNT: " + fails);
                                sim.treeSeqOutput("slim_results/" + ID + ".trees");
				catn(ID + ": " + sim.cycle + " - SIMULATION FINISHED! :)");
				sim.simulationFinished();
			}
                        defineGlobal("fixTracker", fixTracker + 1);
		}
		else {
				defineGlobal("fails", fails + 1); // increment fail counter
				catn(ID + ": " + sim.cycle + " - SWEEP LOST - RESTARTING - FAILS: " + fails);
				sim.readFromPopulationFile(PATH);
				// re-register frequency checks for next cycle
				if(demog != 1){
					community.rescheduleScriptBlock(s6, start=kappa + 1, end=kappa + 100000000);
				}
		}
	}
	else {
		if (fails >= failmax) {
			catn(ID + ": " + sim.cycle + " - STOPPING SIMULATION BECAUSE OF EXCESSIVE SWEEP FAILURE - FAILS: " + fails);
			sim.simulationFinished();
		}
	}
}
